body {
    padding-top: 50px;
    background-color: #00BFFF !important;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.hero__image .carousel-caption{
    postion:relative;
    top:35%;
}